* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

html {
  font-size: 10px;
}

body {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

// Switch
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 2rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  -webkit-transition: 0.4s;
  transition: transform 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: transform 0.4s;
}

.slider:active {
  background: hsl(236, 72%, 79%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

// container
.background {
  background-color: hsl(240, 78%, 98%);
  background-image: url('../images/bg-top.svg'), url('../images/bg-bottom.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: 100% 0, 0 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0 3rem 0;

  h1 {
    color: hsl(233, 13%, 49%);
  }

  .types {
    display: flex;
    align-items: center;
    margin: 3rem 0;

    p {
      color: hsl(234, 14%, 74%);
    }
  }
}

// cards
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .card {
    box-shadow: 0 4px 30px 1px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 3rem 2.8rem;
    width: 100%;

    h2 {
      font-size: 1.6rem;
      color: hsl(233, 13%, 49%);
    }

    .price {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 8rem;
      color: hsl(232, 13%, 33%);
      margin: 2.2rem 0;
      padding: 0 4rem;

      span {
        font-size: 4.8rem;
        margin-right: 1rem;
      }
    }

    .info-text {
      width: 100%;
      padding: 2rem 0;
      font-size: 1.6rem;
      color: hsl(233, 13%, 49%);
      border-top: 1px solid hsl(234, 14%, 74%);
      border-bottom: 1px solid hsl(234, 14%, 74%);
      margin-top: -1px;
    }
  }
}

// professional card
.card + {
  .professional {
    z-index: 2;
    border-radius: 12px;
    background: linear-gradient(
      to bottom right,
      hsl(236, 72%, 79%),
      hsl(237, 63%, 64%)
    );
    padding: 5.6rem 2.8rem;

    h2 {
      color: #fff;
    }

    .price {
      color: #fff;
    }

    .info-text {
      color: #fff;
      border-top: 1px solid hsl(236, 72%, 79%);
      border-bottom: 1px solid hsl(236, 72%, 79%);
    }

    .btn {
      a {
        background: #fff;
        color: hsl(237, 63%, 64%);

        &:active {
          background: none;
          color: #fff;
          border-radius: 6px;
          box-shadow: inset 0px 0px 0px 1px #fff;
        }
      }
    }
  }
}

.cards {
  .card:first-of-type {
    border-radius: 12px 0 0 12px;
  }

  .card:nth-of-type(3) {
    border-radius: 0 12px 12px 0;
  }
}

.btn {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 3.4rem;
  font-size: 1.4rem;
  border-radius: 6px;

  a {
    background: linear-gradient(
      to right,
      hsl(236, 72%, 79%),
      hsl(237, 63%, 64%)
    );
    color: hsl(240, 78%, 98%);
    padding: 1.5rem 0;
    width: 100%;

    &:active {
      background: #fff;
      color: hsl(237, 63%, 64%);
      border-radius: 6px;
      box-shadow: inset 0px 0px 0px 1px hsl(237, 63%, 64%);
    }
  }
}
